
/* fonts */
.font-primary {
    font-family: Mulish ;
}

/* collors */
.bg-s-b {
    background-color: #363740;
}
.c-font-gray {
    color: #A4A6B3;
}
.color-big-c-right{
    color: #9FA2B4;
}
.color-num-b {
    color: #252733;
}

.col-btn-last-table {
    color: #fff;
}
.c-numb {
    color: #9FA2B4;
}

.bg-gr {
    background-color: #29CC97;
}

/* fw */
.fw-700{
    font-weight: 700;
}
.fw-600{
    font-weight: 600;
}

.fw-400{
    font-weight: 400;
}
/* font-size */
.f-s-12 {
    font-size: 12px;
}

.f-s-14 {
    font-size: 14px;
}

.f-s-16 {
    font-size: 16px;
}

.f-s-19 {
    font-size: 19px;
}
.f-s-24 {
    font-size: 24px;
}

/* contant */
.body {
    margin: 0 auto;
    width: 100%;
    height: 100%;
}
.container-fluid{

}
/* left block */
.contant-header__left{
    height: 100vh;
}
.btn-side-bar:hover{
    color: #DDE2FF;
    border-left: 3px solid white;
    background-color: gray;
}

.btn-top-first-boxes:hover{
    color: #3751FF;
    border: 1px solid #3751FF;
}

.btn-left-menu {
    padding: 18px 0px 18px 0px;
    border: none; outline: none;
    display: flex;
}
.icons {
    margin-left: 40px;
    display: flex;
    align-items: start;
}

.btn-group-vertical-settings {
    margin-top: 36px;
}
.btn-group-vertical-settings {
    margin-bottom: 36px;
    border-bottom: 1px solid #999 ;
    padding-bottom: 0px;
    width: 100%;
    text-align: center;
}

/* main part */
/* tittle */
.tittle{
    //styleName: Bold 24 (0.3 px);
    font-family: Mulish;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.30000001192092896px;
    text-align: left;
}
    /* boxes-top line */
.top-first-boxes {
    border: 1px solid #DFE0EB;
    width: 100%;
    height: 134px;
    border-radius: 10px;
    text-align: center;
}

.tittle-in-box {
    .//styleName: Bold 19 (0.4 px);
    font-family: Mulish;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.4000000059604645px;
    text-align: center;
}

.numbers-under-box {
    //styleName: Bold 40 (1 px);
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 1px;
    text-align: center;
    margin-top: 18px;
}

.icont-search {
    margin-right: -30px;
}
.icon-ring {
    border-right: 1px solid #DFE0EB;
}

.name-author {
    //styleName: Semibold 14 (0.2 px);
    font-family: Mulish;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.2px;
    text-align: right;
}

.main {
}

/* big-char */

/* big-chart  */
.Resolved {
    
}


/* tables last */

.bottom-cards {
    border-radius: 8px;
    padding: 0px 32px 0px 32px;
    
}
.bottom-cards-left-bottom__All {
    
}
.bottom-card {
    display: flex;
    justify-content: space-between;
    margin: 0px 0px 0px 20px;
}

.bottom-cards-left-bottom-list {
    list-style-type: none;
}
/* header last table */
.header-last-tables {
    display: flex;
    justify-content: space-between;
}

.header-last-tables__first {
    display: flex;
    justify-content: space-between;
}

.header-last-tables__first-row-numbers-right-table {
    margin-top: -5px;
}

.bottom-cards-left-bottom__left {
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
}

.bottom-cards-left-bottom__right {

    font-family: Mulish;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #9FA2B4;
}
/* left t */
.bottom-cards-left-bottom__All-left {
    margin-top: 38px;
}

    /* after */

.header-last-tables__first:after {

}

.bottom-cards-left-bottom__first {
    margin-top: 20px;
}
/* right t */
.bottom-cards-left-bottom__All-right {
    margin-top: 38px;
}


.bottom-cards-left-bottom__right-urgent {
    color: rgb(243, 232, 232);
    text-align: center;
    height: 24px;
    line-height: 24px;
    width: 74px;
    left: 0px;
    top: 0px;
    border-radius: 8px;
    font-size: 12px;
    background-color: #FEC400;
    font-weight: 700;
}
.bottom-cards-left-bottom__right-new {
    color: rgb(243, 232, 232);
    text-align: center;
    line-height: 24px;
    height: 24px;
    width: 54px;
    left: 0px;
    top: 0px;
    background-color: #29CC97;
    border-radius: 8px;
    font-size: 12px;
    font-weight: 700;
}
.bottom-cards-left-bottom__right-Default {
    font-weight: 700;
    color: #9FA2B4;
    text-align: center;
    line-height: 24px;
    height: 24px;
    width: 54px;
    left: 0px;
    top: 0px;
    background-color: #F0F1F7;
    border-radius: 8px;
    font-size: 12px;
}



.text-inside {
    color:#fff;
}
.header-last-tables-first-row-numbers__vectorPlus {
    width: 25px;
    height: 25px;
    text-align: center;
    padding-top: 4px;
}

.link{
    width: 30px;
    height: 30px;
    background-color: #F0F1F7;
    display: block;
    border-radius: 3px;
}

